@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap');
* {
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #FEC7D7;
}


#inicial {
    position: fixed;
    width: 500px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-top: -100px; /* Negative half of height. */
    margin-left: -250px; /* Negative half of width. */
}
 
@keyframes initial-frame {
    0% {
        -webkit-transform:scale(1);
        transform:scale(1);
        opacity: 0;
    }

    100% {
        -webkit-transform:scale(1.3);
        transform:scale(1.3);
        opacity: 1;
    }
}

/*#inicial:hover .imagen{
    -webkit-transform:scale(5);transform:scale(5);
    /*animation: initial-frame ease 2s backwards;
}*/

@keyframes animation-right-left {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

#item {
    animation: animation-right-left ease 2s backwards;
}

#test {
    padding-bottom: 70px;
}

.me {
    margin: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
}

.message-me {
    margin-top: 15px;
    padding: 15px;
    background: azure;
    width: 70%;
    height: auto;
    border-radius: 15px;
}

.message-you {
    margin-top: 15px;
    padding: 15px;
    background: #535353;
    width: 70%;
    height: auto;
    border-radius: 15px;
    color: azure;
}

.boton, #pills-home-tab, #pills-profile-tab {
    background: #0E172C;
    color: white;
}

.opaq {
    opacity: 0.5;
}

#active, .save {
    background: #0E172C;
    color: white;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {
    * {
        padding: 0;
        margin: 0;
    }
   
}

@media (min-width: 992px) {

    #pruebas {
        display: flex;
        align-items: center;
    }
    #test, #chat {
        width: 40%;
        margin: 0 auto;
    }
    #move1 {
        height: 30%;
        background: white;
        width: 30%;
        margin: 0 auto;
    }
    #move2 {
        height: auto;
        width: 50%;
        margin: 0 auto;
    }
}