@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap');
* {
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #FEC7D7;
}

.img-ini {
    /*display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30%;
    margin-top: 55%;*/
    text-align: center;
    width: 100px;
    height: 100px;
    position: relative;
    animation: welcome 5s ;
}

@keyframes animation-right-left {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

#item {
    animation: animation-right-left ease 2s backwards;
}

#test {
    padding-bottom: 70px;
}

.me {
    margin: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
}

.message-me {
    margin-top: 15px;
    padding: 15px;
    background: azure;
    width: 70%;
    height: auto;
    border-radius: 15px;
}

.message-you {
    margin-top: 15px;
    padding: 15px;
    background: #535353;
    width: 70%;
    height: auto;
    border-radius: 15px;
    color: azure;
}

.boton, #pills-home-tab, #pills-profile-tab {
    background: #0E172C;
    color: white;
}

.opaq {
    opacity: 0.5;
}

#active, .save {
    background: #0E172C;
    color: white;
}

@keyframes welcome {
    0% {
        top: 280px;
        left: 135px;
        transform: scale(0.1);
    }
    100% {
        top: 300px;
        left: 135px;
        transform: scale(2);
        visibility: hidden;
    }
}

@media (min-width: 576px) {}

@media (min-width: 768px) {
    * {
        padding: 0;
        margin: 0;
    }
    /*.img-ini{
        flex-direction: column;
        align-items: center;
        padding: 30px;
        margin-top: 450px;
    }
    #pruebas{
        display: flex;
        align-items: center;
    }
    #test, #chat {
        width: 40%;
        margin: 0 auto;
    }
    #move1 {
        height: 30%;
        background: white;
        width: 30%;
        margin: 0 auto;
    }
    #move2 {
        height: auto;
        width: 50%;
        margin: 0 auto;
    }*/
}

@media (min-width: 992px) {
    .img-ini {
        /*flex-direction: column;
        align-items: center;
        padding: 30px;
        margin-top: 450px;*/
        text-align: center;
        width: 100px;
        height: 100px;
        position: relative;
        animation: welcome 5s infinite;
    }
    #pruebas {
        display: flex;
        align-items: center;
    }
    #test, #chat {
        width: 40%;
        margin: 0 auto;
    }
    #move1 {
        height: 30%;
        background: white;
        width: 30%;
        margin: 0 auto;
    }
    #move2 {
        height: auto;
        width: 50%;
        margin: 0 auto;
    }
    @keyframes welcome {
        0% {
            top: 430px;
            left: 900px;
            transform: scale(0.1);
        }
        100% {
            top: 550px;
            left: 900px;
            transform: scale(3);
        }
    }
}